SUPABASE_URL=https://supabase.com/dashboard/project/glfofvoddcfnqalxoncd
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdsZm9mdm9kZGNmbnFhbHhvbmNkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcwNTgzNzQsImV4cCI6MjA5MjYzNDM3NH0.vnTyYwNaFfS2iUtv430w0gfFgHXmbnNVzxBRrIIdeWU
ANTHROPIC_API_KEY=key

