SUPABASE_URL=https://supabase.com/dashboard/project/glfofvoddcfnqalxoncd
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdsZm9mdm9kZGNmbnFhbHhvbmNkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcwNTgzNzQsImV4cCI6MjA5MjYzNDM3NH0.vnTyYwNaFfS2iUtv430w0gfFgHXmbnNVzxBRrIIdeWU
ANTHROPIC_API_KEY=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

